<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"> Add new Coordinator</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <form  data-toggle="validator" id="createStudent">
                        <div class="form-body">
                            <h3 class="box-title">Personal Info</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName" class="control-label">Last Name</label>
                                        <input type="text" id="lastName" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="firstName" class="control-label">First Name</label>
                                        <input type="text" id="firstName" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="gender" class="control-label">Gender</label>
                                        <select id="gender" class="form-control selectpicker" required>
                                            <option value="">Male</option>
                                            <option value="">Female</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="proficiency" class="control-label">Proficiency</label>
                                        <input type="text" id="proficiency"
                                               class="form-control"
                                               placeholder="" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Telephone</label>
                                        <input type="text" pattern="^\d{8}$" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="white-box">
                                        <h3 class="box-title m-b-0">Upload file </h3>
                                        <p class="text-muted m-b-30"> Only <strong>xlsx, xls</strong> accepted</p>
                                        <a href="downloadSample"> Sample excel sheet</a>
                                        <div id="uploadFile" class="dropzone"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>