<div class="sidebar-nav">
    <div class="sidebar-head">
        <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span>
            <span class="hide-menu">Navigation</span></h3></div>
    <ul class="nav" id="side-menu">
        <li class="user-pro">
            <a href="javascript:void(0)" class="waves-effect"><img src="images/users/varun.jpg" alt="user-img"
                                                                   class="img-circle"> <span class="hide-menu"> Steve Gection<span
                    class="fa arrow"></span></span>
            </a>
            <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                <li><a href="javascript:void(0)"><i class="ti-user"></i> <span
                        class="hide-menu">My Profile</span></a></li>
                <li><a href="javascript:void(0)"><i class="ti-wallet"></i> <span
                        class="hide-menu">My Balance</span></a></li>
                <li><a href="javascript:void(0)"><i class="ti-email"></i> <span
                        class="hide-menu">Inbox</span></a></li>
                <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a>
                </li>
                <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> <span
                        class="hide-menu">Logout</span></a></li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" class="waves-effect active"><i
                class="mdi mdi-clipboard-text fa-fw"></i><span class="hide-menu"> Μεταπτυχιακο Επιπεδο <span
                class="fa arrow"></span> <span
                class="label label-rouded label-inverse pull-right">4</span></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index-2.html"><i class="mdi mdi-clipboard-text fa-fw"></i><span class="hide-menu">Προπτυχιακο Επιπεδο</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="restrictions.html" class="waves-effect "><i class="mdi mdi-clock-end fa-fw"></i>
                <span class="hide-menu">Προθεσμίες</span></a>
        </li>


        <li><a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-plus fa-fw"></i> <span
                class="hide-menu">Προσθήκη<span
                class="label label-rouded label-warning pull-right">30</span></span></a>
            <ul class="nav nav-second-level">
                <li><a href="createThesis.html" class="waves-effect"><i class="mdi mdi-content-paste fa-fw"></i>
                    <span class="hide-menu">Θεμα</span></a></li>


                <li><a href="javascript:void(0)" class="waves-effect"><i class="mdi mdi-account fa-fw"></i>
                    <span class="hide-menu">Μελος</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="createMember.html?mode=student" data-breadcumb="Create Student"><span
                                    class="hide-menu">Φοιτητης</span></a></li>
                        <li>
                            <a href="createMember.html?mode=professor" data-breadcumb="Create Professor"><span
                                    class="hide-menu">Καθηγητης</span></a></li>
                        <li>
                            <a href="createMember.html?mode=coordinator" data-breadcumb="Create Coordinator"><span
                                    class="hide-menu">Συντονιστής</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="viewAllThesis.html" class="waves-effect "><i class="mdi mdi-wunderlist fa-fw"></i>
                <span class="hide-menu">Θεματα</span></a>
        </li>

        <li>
            <a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-account-multiple fa-fw"></i>
                <span class="hide-menu">Χρηστες</span></a>
            <ul class="nav nav-second-level">
                <li><a href="javascript:void(0)" class="waves-effect"><span
                        class="hide-menu">Φοιτητές</span></a></li>
                <li><a href="javascript:void(0)" class="waves-effect"><span
                        class="hide-menu">Καθηγητες</span></a></li>
                <li><a href="javascript:void(0)" class="waves-effect"><span class="hide-menu">Συντονιστής</span></a>
                </li>
                <li><a href="javascript:void(0)" class="waves-effect"><span class="hide-menu">Γραμματεία</span></a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-check-all fa-fw"></i>
                <span class="hide-menu">Τελειωμενες Πτυχιακες</span></a>
        </li>


        <li>
            <a href="javascript:void(0)" class="waves-effect "><i class="mdi mdi-backup-restore fa-fw"></i>
                <span class="hide-menu">Εφεδρική Αντιγραφή</span></a>
        </li>
    </ul>
</div>